node_modules
.DS_Store
.env

projects/**/*
!projects/demo

remotion/node_modules
src/media/*

client_auth_token.json

remotion/node_modules
remotion/out
remotion/public/*.mp4
*.mp4

client_oauth_token.json